/* GLOBAL */

*{box-sizing: border-box;}

:root{
    --accent: #ad7b54;
    --bg: #efefef;
    --text: #707070;
}

ul{
    list-style: none;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}

img{
    width:100%;
}

iframe{
    width: 100%;
}


/* TYPOGRAPHY */

html{
    font-family: Barlow condensed, sans-serif;
    color:var(--text)
}

h1{
    font-size:2.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

#subtitle{
    font-family: Dancing script;
    font-size:1.5rem;
    color:var(--accent);
    font-weight: bolder;
    margin-top: 0;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

a{
    color:var(--text);
    font-size:1.2rem;
}

a:hover,
a:focus{
    color:var(--accent);
    text-decoration: underline;
}




/* LAYOUT */
body{
    margin:0;
    padding: 0;
}

.container{
    margin:auto;
    width:90%;
    background-color: var(--bg);
    padding:1em;
    text-align: center;
}

nav li{
    margin: .8em;
}

#galeria,
#contacto{
    padding-top:.7em;
}

.local-photo{
    width:80%;
    border-radius:10px;
}

.about{
    margin:1em auto;
    width:70%;
}

.logo{
    width:50%;
    border-radius:50%;
    margin:1em 0;
}